@green : #A1C138;
@greenDark : darken(@green, 2%);
@greyDark : #707070;
@greyMedium: #AAA7A7;
@greyLight : #EFF2E7;
@border : #CED0CC;
@facebook : #507CC0;
@google: #DF4930;


* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    position: relative;
    color: #333;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #707070;
    font-size: 18px;
}
.bg-image {
    background: url(../images/bg_page.jpg) no-repeat center left fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loading {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    .content {
        position: absolute;
        top:50%;
        left: 50%;
        z-index: 10001;
        text-align: center;
        margin-left: -310px;
        margin-top: -100px;
        width: 620px;
        span {
            color: @green;
            font-size: 60px;
        }
        p {
            color: #fff;
            font-size: 30px;
        }
    }
    
}

/*------------------------*/
input:focus,
.btn:focus,
.btn.focus,
button:focus,
select:focus,
.form-group:focus,
.form-control:focus,
.custom-select:focus{
	outline: none !important;
    box-shadow: none !important;
}
.input:focus {
    background-color: rgba(255, 255, 255, 0.4);
    border-color: @greyDark;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);

}
.form-group {
    label {
        font-size:15px;
        display: inline;
        span {
            float: right;
            img {
                max-width: 120px;
            }
        }
    }
}
input,
.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid @border;
    outline: none;
    box-shadow: none;
    //font-size: 25px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
    padding: 0 20px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.4);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    color: @greyMedium;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    color: @greyMedium;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    color: @greyMedium;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    color: @greyMedium;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: @greyMedium;
    font-style: italic;
    color: @greyMedium;
  }

.input-group {
    input {
        border: 1px solid @border;
        //border-right: none;
        background-color: rgba(255, 255, 255, 0.4);
        outline: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 400;
        padding: 0 20px;
        height: 55px;
    }
    
    .input-group-append {
        .input-group-text {
            background-color: rgba(255, 255, 255, 0.4);
            height: 55px;
            border: 1px solid @border;
            border-radius: 0;
            font-size: 20px;
            color: @greyMedium;
        }
    }
}
.form-check {
    input {
        height: auto;
        -webkit-appearance: revert;
        -moz-appearance: revert;
        appearance: revert;
    }
}

select.custom-select {
    font-style: italic;
    border: 1px solid @border;
    outline: none;
    box-shadow: none;
    padding: 0 20px;
    height: 55px;
    color: #495057;;
    background-color: rgba(255, 255, 255, 0.4);
    &:focus {
        border-color: @greyDark;
    }
    option {
        font-size: 20px;
    }
}
.custom-select.is-invalid, 
.was-validated .custom-select:invalid,
.was-validated .input-group .input-group-append .input-group-text:invalid {
    border: 1px solid #dc3545;
    background-color: rgba(255, 255, 255, 0.4);
}
.custom-select.is-valid, 
.was-validated .custom-select:valid{
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    font-style: normal;
}
.btn-group-toggle {
    padding: 5px;
    border: 1px solid #CED0CC;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: .25rem;
    width: 100%;
    height: 55px;
    .btn {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 300;
        font-style: italic;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .btn:not(:disabled):not(.disabled).active, 
    .btn:not(:disabled):not(.disabled):active, 
    .show>.btn.dropdown-toggle {
        color: #fff;
        background-color: @green;
        border-color: @greenDark;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    &.loanTypes {
        height: auto;
        color: @greyDark;
        padding: 0;
        border: none;
        background-color: transparent;
        .btn {
            font-style: normal;
            border-color: @greyDark;
            border-width: 1px;
            border-radius: 20px;
            padding: 0;
            text-align: left;
            color: @greyDark;
            display: inline-block;
            height: 100%;
            .btn-border {
                padding: 35px 25px;
                border: 10px solid transparent;
                border-radius: 20px;
                height: 100%;
                input {
                    display: none;
                }
            }
            h3 {
                font-weight: 700;
                margin-bottom: 10px;
                img {
                    height: 30px;
                    margin-top: -5px;
                    float: right;
                }
            }
            p {
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
            }
            ul {
                padding-left: 25px;
                font-size: 22px;
                font-weight: 700;
                line-height: 50px;
                li {
                    padding-left: 10px;
                    &.green {
                        color: @green;
                    }
                }
            }
            ul.checklist {
                padding-left: 40px;
                list-style-image: url('../images/icon_checklist.png');
            }
        }
        .btn:not(:disabled):not(.disabled).active, 
        .btn:not(:disabled):not(.disabled):active, 
        .show > .btn.dropdown-toggle {
            background-color: transparent;
            color: @greyDark;
            border-width: 1px;
            border-radius: 20px;
            border-color: transparent;
            padding: 0;
            .btn-border {
                padding: 35px 25px;
                border: 10px solid @green;;
                border-radius: 20px;
                height: 100%;
            }
        }
    }
}

.wrapper {
    background-color: rgba(239,242,231,0.8);
    padding-top: 90px;
    min-height: 100vh;
    height: 100%;

    header {
        max-width: 950px;
        margin: 0 80px;
        h1 {
            font-size: 70px;
            line-height: 80px;
            font-weight: 700;
            margin: 0 0 50px;
            padding: 0;
            span {
                color: @green;
            }
        }
        h2 {
            color: @greyDark;
            font-size: 26px;
            line-height: 36px;
            font-weight: 400;
            margin: 0 0 100px;
            padding: 0;
        }
    }
    main {
        max-width: 950px;
        margin: 0 80px 120px 80px;
        figure {
            max-width: 170px;
            text-align: center;
            figcaption {
                margin-top: 15px;
            }
        }
        p {
            color: @greyDark;
            font-size: 22px;
            &.lock {
                font-size: 14px;
                line-height: 18px;
                margin-top: 40px;
                color: @greyMedium;
            }
        }
        .ref {
            padding: 40px 15px 15px 15px;
            border-right: 1px solid @greyLight;
            border-left: 1px solid @greyLight;
            border-bottom: 1px solid @greyLight;
            .title {
                font-size: 14px;
                line-height: 40px;
                font-weight: 300;
                overflow: hidden;
                padding-left: 15px;
                margin: -61px -15px 0 -15px;
                &:before,
                &:after {
                    background-color: @greyLight;
                    content: "";
                    display: inline-block;
                    height: 1px;
                    position: relative;
                    vertical-align: middle;
                    width: 100%;
                }
                &:before {
                    right: 0.5em;
                    margin-left: -100%;
                }
                &:after {
                    left: 0.5em;
                    margin-right: -50%;
                } 
            }
        }
        .incomeSource {
            .btn-group-toggle {
                height: auto;
                display: table;
                border: none;
                background-color: transparent;
                .btn {
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 300;
                    font-style: italic;
                    height: auto;
                    display: inline-block;
                    vertical-align: middle;
                    padding: 12px 50px;
                    border: 1px solid @green;
                    margin: 0 10px 10px 0;
                    &:hover {
                        color: #fff;
                        background-color: @green;
                        border-color: @greenDark;
                    }
                }
            }
        }
        
    }
    footer {
        position: fixed;
        z-index: 2;
        height: 100px;
        display: block;
        width: 66.666667%;
        background-color: rgba(255, 255, 255, 0.9);
        border-top: 1px solid @greyMedium;
        bottom: 0;
        margin-left: -15px; 
        padding: 0 100px;
        .btn {
            color: #fff;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 100px;
            margin: 18px 0 0;
            position: relative;
            .mif {
                font-size: 30px;
                line-height: 30px;
                position: absolute;
                top: 15px;
            }
            &.float-right {
                padding: 16px 60px 16px 45px;
                .mif {
                    right: 15px;
                }
            }
            &.float-left {
                padding: 16px 45px 16px 60px;
                .mif {
                    left: 15px;
                }
            }
            &.btn-primary {
                background-color: @green;
                &:hover {
                    background-color: @greenDark;
                }
            }
            &.btn-outline {
                background-color: transparent;
                border: 2px solid @greyDark;
                color: @greyDark;
            }
        }
    }
    #openingPage {
        footer {
            background-color: transparent;
            right: 0;
            border: none;
            .btn {
                margin-right: 0;
            }
        }
    }
    #connexionPage {
        header {
            text-align: center;
            max-width: 850px;
            h1 {
                margin-bottom: 20px;
            }
            h2 {
                margin-bottom: 0;
            }
        }
        main {
            //padding-bottom: 100px;
            max-width: 850px;
            text-align: center;
            .connexion_btns {
                text-align: center;
                margin: 40px 0 20px;
                #facebook-connect {
                    display: block;
                    background-color: @facebook;
                    width: 100%;
                    height: 75px;
                    color: #fff;
                    //font-size: 30px;
                    //padding: 15px 20px;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 20px;
                    .mif-facebook {
                        background-color: #fff;
                        padding: 20px 30px;
                        color: @facebook;
                        float: left;
                        height: 100%;

                    }
                    &:hover {
                        background-color: darken(@facebook, 5%);
                        cursor: pointer;
                    }
                }
                #google-connect {
                    display: block;
                    //background-color: @google;
                    width: 100%;
                    height: 75px;
                    color: #fff;
                    font-size: 30px;
                    //padding: 15px 20px;
                    margin: 0 auto;
                    text-align: center;
                    .abcRioButton {
                        width: 100% !important;
                        background-color: @google;
                        box-shadow: none;
                        //padding: 5px 10px 0;
                        color: #fff;
                        float: left;
                        &:hover {
                            background-color: darken(@google, 5%);
                            cursor: pointer;
                        }
                        .abcRioButtonContentWrapper {
                            border: none;
                            .abcRioButtonIcon {
                                padding: 28px 28px 29px !important;
                            }
                        }
                    }
                    
                }
                .text {
                    font-size: 21px;
                    line-height: 73px;
                }
            }
            .input-group {
                max-width: 500px;
                margin: 0 auto;
            }
            
        }
        
        
    }
}
.sidebar {
    padding-top: 60px;
    border-right: 10px solid @green;
    .form-group {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 22px;
        select.custom-select {
            margin-top: 10px;
            height: 55px;
            font-size: 16px;
            font-style: italic;
        }
        .custom-select.is-invalid, 
        .was-validated .custom-select:invalid {
            border: 2px solid #dc3545;
            background-color: rgba(220,53,69,0.2);
        }
        .custom-select.is-valid, 
        .was-validated .custom-select:valid {
            border: none;
            background-color: rgba(255,255,255,0.1);
            font-size: 20px;
            font-style: normal;
        }
    }
    .lock {
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
    }
    .wizard {
        padding: 80px 0 0;
        .nav-tabs {
            display: block;
            list-style: none;
            position: relative;
            width: 100%;
            margin-bottom: 0;
            border-bottom-color: transparent;
            li {
                display: block;
                margin: 0 auto;
                height: 100%;
                min-height: 90px;
                max-width: 350px;
                width: auto;
                pointer-events: none;
                &:before {
                    border-top: 2px solid @greyMedium;
                    content: "";
                    display: block;
                    font-size: 0;
                    overflow: auto;
                    position: relative;
                    top: 10px;
                    right: 0;
                    width: 100%;
                    z-index: 1;
                    transform: rotate(90deg) translateY(87px);
                    left: 20px;
                    max-width: 50%;
                    text-align: center;
                }
                &:first-child,
                &:last-child {
                    &:before {
                        border-top: 2px solid transparent;
                    }
                }
                a {
                    color: #fff;
                    font-size: 18px;
                    line-height: 40px;
                    display: flex;
                    &:hover {
                        text-decoration: none;
                    }
                    .round-tab {
                        background: @greyMedium;
                        padding: 4px 15px;
                        border: 5px solid transparent;
                        border-radius: 50%;
                        position: relative;
                        text-align: center;
                        z-index: 2;
                        transition: all .1s linear 0s;
                        margin-right: 15px;
                        display: inline-block;
                        height: 40px;
                    }
                }
                
                &.active {
                    font-weight: 700;
                    .round-tab{
                        background: @green;
                        color: #fff;
                        border: 5px solid #fff;
                    }
                }
                &.complete {
                    pointer-events: visible;
                    .round-tab {
                        background: @green;
                    }
                }
                
            }
        }
        
    }
}


@media (max-width: 993px){
    .sidebar {
        padding: 0;
        border:none;
        .wizard {
            display: none;
        }
        .loanAmount {
            background-color: rgba(239, 242, 231, 0.8);
            padding: 20px 20px 20px;
            color: @greyDark;
            font-size: 19px;
            text-align: left;
            select.custom-select {
                margin-top: 10px;
                background-color: rgba(239, 242, 231, 0.8);
                color: @greyDark;
                height: 55px;
                font-size: 16px;
                font-style: italic;
            }
        }
    }
    
    .wrapper {
        padding: 0 20px;
        #openingPage,
        #connexionPage,
        .tab-content .tab-pane {
            padding-top: 40px;
            padding-bottom: 100px;
        }
        header {
            padding-left:0;
            margin: 0;
            h1 {
                font-size: 28px;
                line-height: 38px;
                margin: 0;
            }
            h2 {
                font-size:17px;
                line-height: 26px;
                margin: 20px 0 0;
                margin-bottom: 10px !important;
            }
        }
        main {
            padding: 20px 0 0;
            margin: 0;
            figure {
                max-width: 140px;
                margin: 0;
                figcaption {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            .input-group {
                height: 55px;
                max-width: 100%;
                input {
                    font-size: 18px
                }
            }
            .ref {
                .title:after {
                    display: none;
                }
            }
            .incomeSource {
                .btn-group-toggle {
                    .btn {
                        width: 100%;
                    }
                }
            }
            .incomeSource {
                .btn-group {
                    display: block;
                }
            }
            
            .btn-group-toggle.loanTypes {
                .btn {
                    ul {
                        font-size: 20px;
                        line-height: 30px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }
            }
            
        }
        footer {
            position: absolute !important;
            margin: 0;
            left: 0;
            text-align: center;
            width: 100%;
            height: auto;
            padding: 15px;
            .btn {
                margin: 0;
                
                &.btn-outline {
                    border: none;
                    padding: 15px 0;
                    .text {
                        display: none;
                    }
                }
            }
            .lock {
                margin-top: 20px;
                margin-bottom: 0;
                font-size: 14px;
                .btn {
                    border: none;
                    padding: 0;
                    margin: 0;
                    color: @greyDark;
                    line-height: 10px;
                    font-size: 16px;
                    font-weight: bold;
                    width: auto !important;
                }
            }
        }
        #openingPage {
            header {
                h1 {
                    font-size: 40px;
                    line-height: 50px;
                    margin: 0;
                }
            }
            main {
                padding-top: 20px;
                text-align: center;
            }
            footer {
                .btn {
                    float: none !important;
                    width: 100%;  
                }
            }
        }
        #connexionPage {
            header {
                text-align: left;
                h1 {
                    font-size: 40px;
                    line-height: 50px;
                    margin: 0;
                }
            }
            main {
                text-align: left;
                padding: 20px 0 0;
                .connexion_btns {
                    margin: 0 0 10px;
                    #facebook-connect {
                        margin-bottom: 10px;
                    }
                    #facebook-connect,
                    #google-connect {
                        width: 100%;
                        font-size: 20px;
                    }
                }
                .input-group {
                    max-width: 100%;
                }
            }
            footer {
                text-align: left;
            }
        }
        #step2 {
            .form-group {
                label {
                    span {
                        display: none;
                    }
                }
            }
        }
        #step6 {
            .btn-group {
                display: block;
                .col-sm-6:first-child {
                    margin-bottom: 20px;
                }
            }
        }
    }
    .loading {
        .content {
            margin-left: 0;
            left:0;
            margin-top: -120px;
            width: 100%;
            span {
                color: @green;
                font-size: 60px;
            }
            p {
                color: #fff;
                font-size: 22px;
            }
        }
        
    }
}