* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  color: #333;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #707070;
  font-size: 18px;
}
.bg-image {
  background: url(../images/bg_page.jpg) no-repeat center left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loading {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 10000;
  position: fixed;
}
.loading .content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10001;
  text-align: center;
  margin-left: -310px;
  margin-top: -100px;
  width: 620px;
}
.loading .content span {
  color: #A1C138;
  font-size: 60px;
}
.loading .content p {
  color: #fff;
  font-size: 30px;
}
/*------------------------*/
input:focus,
.btn:focus,
.btn.focus,
button:focus,
select:focus,
.form-group:focus,
.form-control:focus,
.custom-select:focus {
  outline: none !important;
  box-shadow: none !important;
}
.input:focus {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #707070;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}
.form-group label {
  font-size: 15px;
  display: inline;
}
.form-group label span {
  float: right;
}
.form-group label span img {
  max-width: 120px;
}
input,
.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #CED0CC;
  outline: none;
  box-shadow: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
  padding: 0 20px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.4);
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #AAA7A7;
  font-style: italic;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #AAA7A7;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #AAA7A7;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #AAA7A7;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #AAA7A7;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #AAA7A7;
}
.input-group input {
  border: 1px solid #CED0CC;
  background-color: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  padding: 0 20px;
  height: 55px;
}
.input-group .input-group-append .input-group-text {
  background-color: rgba(255, 255, 255, 0.4);
  height: 55px;
  border: 1px solid #CED0CC;
  border-radius: 0;
  font-size: 20px;
  color: #AAA7A7;
}
.form-check input {
  height: auto;
  -webkit-appearance: revert;
  -moz-appearance: revert;
  appearance: revert;
}
select.custom-select {
  font-style: italic;
  border: 1px solid #CED0CC;
  outline: none;
  box-shadow: none;
  padding: 0 20px;
  height: 55px;
  color: #495057;
  background-color: rgba(255, 255, 255, 0.4);
}
select.custom-select:focus {
  border-color: #707070;
}
select.custom-select option {
  font-size: 20px;
}
.custom-select.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .input-group .input-group-append .input-group-text:invalid {
  border: 1px solid #dc3545;
  background-color: rgba(255, 255, 255, 0.4);
}
.custom-select.is-valid,
.was-validated .custom-select:valid {
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  font-style: normal;
}
.btn-group-toggle {
  padding: 5px;
  border: 1px solid #CED0CC;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0.25rem;
  width: 100%;
  height: 55px;
}
.btn-group-toggle .btn {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
.btn-group-toggle .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-group-toggle .btn:not(:disabled):not(.disabled).active,
.btn-group-toggle .btn:not(:disabled):not(.disabled):active,
.btn-group-toggle .show > .btn.dropdown-toggle {
  color: #fff;
  background-color: #A1C138;
  border-color: #9ab936;
}
.btn-group-toggle .btn:not(:disabled):not(.disabled).active:focus,
.btn-group-toggle .btn:not(:disabled):not(.disabled):active:focus,
.btn-group-toggle .show > .btn.dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
.btn-group-toggle.loanTypes {
  height: auto;
  color: #707070;
  padding: 0;
  border: none;
  background-color: transparent;
}
.btn-group-toggle.loanTypes .btn {
  font-style: normal;
  border-color: #707070;
  border-width: 1px;
  border-radius: 20px;
  padding: 0;
  text-align: left;
  color: #707070;
  display: inline-block;
  height: 100%;
}
.btn-group-toggle.loanTypes .btn .btn-border {
  padding: 35px 25px;
  border: 10px solid transparent;
  border-radius: 20px;
  height: 100%;
}
.btn-group-toggle.loanTypes .btn .btn-border input {
  display: none;
}
.btn-group-toggle.loanTypes .btn h3 {
  font-weight: 700;
  margin-bottom: 10px;
}
.btn-group-toggle.loanTypes .btn h3 img {
  height: 30px;
  margin-top: -5px;
  float: right;
}
.btn-group-toggle.loanTypes .btn p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.btn-group-toggle.loanTypes .btn ul {
  padding-left: 25px;
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
}
.btn-group-toggle.loanTypes .btn ul li {
  padding-left: 10px;
}
.btn-group-toggle.loanTypes .btn ul li.green {
  color: #A1C138;
}
.btn-group-toggle.loanTypes .btn ul.checklist {
  padding-left: 40px;
  list-style-image: url('../images/icon_checklist.png');
}
.btn-group-toggle.loanTypes .btn:not(:disabled):not(.disabled).active,
.btn-group-toggle.loanTypes .btn:not(:disabled):not(.disabled):active,
.btn-group-toggle.loanTypes .show > .btn.dropdown-toggle {
  background-color: transparent;
  color: #707070;
  border-width: 1px;
  border-radius: 20px;
  border-color: transparent;
  padding: 0;
}
.btn-group-toggle.loanTypes .btn:not(:disabled):not(.disabled).active .btn-border,
.btn-group-toggle.loanTypes .btn:not(:disabled):not(.disabled):active .btn-border,
.btn-group-toggle.loanTypes .show > .btn.dropdown-toggle .btn-border {
  padding: 35px 25px;
  border: 10px solid #A1C138;
  border-radius: 20px;
  height: 100%;
}
.wrapper {
  background-color: rgba(239, 242, 231, 0.8);
  padding-top: 90px;
  min-height: 100vh;
  height: 100%;
}
.wrapper header {
  max-width: 950px;
  margin: 0 80px;
}
.wrapper header h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  margin: 0 0 50px;
  padding: 0;
}
.wrapper header h1 span {
  color: #A1C138;
}
.wrapper header h2 {
  color: #707070;
  font-size: 26px;
  line-height: 36px;
  font-weight: 400;
  margin: 0 0 100px;
  padding: 0;
}
.wrapper main {
  max-width: 950px;
  margin: 0 80px 120px 80px;
}
.wrapper main figure {
  max-width: 170px;
  text-align: center;
}
.wrapper main figure figcaption {
  margin-top: 15px;
}
.wrapper main p {
  color: #707070;
  font-size: 22px;
}
.wrapper main p.lock {
  font-size: 14px;
  line-height: 18px;
  margin-top: 40px;
  color: #AAA7A7;
}
.wrapper main .ref {
  padding: 40px 15px 15px 15px;
  border-right: 1px solid #EFF2E7;
  border-left: 1px solid #EFF2E7;
  border-bottom: 1px solid #EFF2E7;
}
.wrapper main .ref .title {
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  overflow: hidden;
  padding-left: 15px;
  margin: -61px -15px 0 -15px;
}
.wrapper main .ref .title:before,
.wrapper main .ref .title:after {
  background-color: #EFF2E7;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}
.wrapper main .ref .title:before {
  right: 0.5em;
  margin-left: -100%;
}
.wrapper main .ref .title:after {
  left: 0.5em;
  margin-right: -50%;
}
.wrapper main .incomeSource .btn-group-toggle {
  height: auto;
  display: table;
  border: none;
  background-color: transparent;
}
.wrapper main .incomeSource .btn-group-toggle .btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  font-style: italic;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  padding: 12px 50px;
  border: 1px solid #A1C138;
  margin: 0 10px 10px 0;
}
.wrapper main .incomeSource .btn-group-toggle .btn:hover {
  color: #fff;
  background-color: #A1C138;
  border-color: #9ab936;
}
.wrapper footer {
  position: fixed;
  z-index: 2;
  height: 100px;
  display: block;
  width: 66.666667%;
  background-color: rgba(255, 255, 255, 0.9);
  border-top: 1px solid #AAA7A7;
  bottom: 0;
  margin-left: -15px;
  padding: 0 100px;
}
.wrapper footer .btn {
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 100px;
  margin: 18px 0 0;
  position: relative;
}
.wrapper footer .btn .mif {
  font-size: 30px;
  line-height: 30px;
  position: absolute;
  top: 15px;
}
.wrapper footer .btn.float-right {
  padding: 16px 60px 16px 45px;
}
.wrapper footer .btn.float-right .mif {
  right: 15px;
}
.wrapper footer .btn.float-left {
  padding: 16px 45px 16px 60px;
}
.wrapper footer .btn.float-left .mif {
  left: 15px;
}
.wrapper footer .btn.btn-primary {
  background-color: #A1C138;
}
.wrapper footer .btn.btn-primary:hover {
  background-color: #9ab936;
}
.wrapper footer .btn.btn-outline {
  background-color: transparent;
  border: 2px solid #707070;
  color: #707070;
}
.wrapper #openingPage footer {
  background-color: transparent;
  right: 0;
  border: none;
}
.wrapper #openingPage footer .btn {
  margin-right: 0;
}
.wrapper #connexionPage header {
  text-align: center;
  max-width: 850px;
}
.wrapper #connexionPage header h1 {
  margin-bottom: 20px;
}
.wrapper #connexionPage header h2 {
  margin-bottom: 0;
}
.wrapper #connexionPage main {
  max-width: 850px;
  text-align: center;
}
.wrapper #connexionPage main .connexion_btns {
  text-align: center;
  margin: 40px 0 20px;
}
.wrapper #connexionPage main .connexion_btns #facebook-connect {
  display: block;
  background-color: #507CC0;
  width: 100%;
  height: 75px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
.wrapper #connexionPage main .connexion_btns #facebook-connect .mif-facebook {
  background-color: #fff;
  padding: 20px 30px;
  color: #507CC0;
  float: left;
  height: 100%;
}
.wrapper #connexionPage main .connexion_btns #facebook-connect:hover {
  background-color: #416fb5;
  cursor: pointer;
}
.wrapper #connexionPage main .connexion_btns #google-connect {
  display: block;
  width: 100%;
  height: 75px;
  color: #fff;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}
.wrapper #connexionPage main .connexion_btns #google-connect .abcRioButton {
  width: 100% !important;
  background-color: #DF4930;
  box-shadow: none;
  color: #fff;
  float: left;
}
.wrapper #connexionPage main .connexion_btns #google-connect .abcRioButton:hover {
  background-color: #d53b21;
  cursor: pointer;
}
.wrapper #connexionPage main .connexion_btns #google-connect .abcRioButton .abcRioButtonContentWrapper {
  border: none;
}
.wrapper #connexionPage main .connexion_btns #google-connect .abcRioButton .abcRioButtonContentWrapper .abcRioButtonIcon {
  padding: 28px 28px 29px !important;
}
.wrapper #connexionPage main .connexion_btns .text {
  font-size: 21px;
  line-height: 73px;
}
.wrapper #connexionPage main .input-group {
  max-width: 500px;
  margin: 0 auto;
}
.sidebar {
  padding-top: 60px;
  border-right: 10px solid #A1C138;
}
.sidebar .form-group {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-size: 22px;
}
.sidebar .form-group select.custom-select {
  margin-top: 10px;
  height: 55px;
  font-size: 16px;
  font-style: italic;
}
.sidebar .form-group .custom-select.is-invalid,
.sidebar .form-group .was-validated .custom-select:invalid {
  border: 2px solid #dc3545;
  background-color: rgba(220, 53, 69, 0.2);
}
.sidebar .form-group .custom-select.is-valid,
.sidebar .form-group .was-validated .custom-select:valid {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 20px;
  font-style: normal;
}
.sidebar .lock {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidebar .wizard {
  padding: 80px 0 0;
}
.sidebar .wizard .nav-tabs {
  display: block;
  list-style: none;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  border-bottom-color: transparent;
}
.sidebar .wizard .nav-tabs li {
  display: block;
  margin: 0 auto;
  height: 100%;
  min-height: 90px;
  max-width: 350px;
  width: auto;
  pointer-events: none;
}
.sidebar .wizard .nav-tabs li:before {
  border-top: 2px solid #AAA7A7;
  content: "";
  display: block;
  font-size: 0;
  overflow: auto;
  position: relative;
  top: 10px;
  right: 0;
  width: 100%;
  z-index: 1;
  transform: rotate(90deg) translateY(87px);
  left: 20px;
  max-width: 50%;
  text-align: center;
}
.sidebar .wizard .nav-tabs li:first-child:before,
.sidebar .wizard .nav-tabs li:last-child:before {
  border-top: 2px solid transparent;
}
.sidebar .wizard .nav-tabs li a {
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  display: flex;
}
.sidebar .wizard .nav-tabs li a:hover {
  text-decoration: none;
}
.sidebar .wizard .nav-tabs li a .round-tab {
  background: #AAA7A7;
  padding: 4px 15px;
  border: 5px solid transparent;
  border-radius: 50%;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all 0.1s linear 0s;
  margin-right: 15px;
  display: inline-block;
  height: 40px;
}
.sidebar .wizard .nav-tabs li.active {
  font-weight: 700;
}
.sidebar .wizard .nav-tabs li.active .round-tab {
  background: #A1C138;
  color: #fff;
  border: 5px solid #fff;
}
.sidebar .wizard .nav-tabs li.complete {
  pointer-events: visible;
}
.sidebar .wizard .nav-tabs li.complete .round-tab {
  background: #A1C138;
}
@media (max-width: 993px) {
  .sidebar {
    padding: 0;
    border: none;
  }
  .sidebar .wizard {
    display: none;
  }
  .sidebar .loanAmount {
    background-color: rgba(239, 242, 231, 0.8);
    padding: 20px 20px 20px;
    color: #707070;
    font-size: 19px;
    text-align: left;
  }
  .sidebar .loanAmount select.custom-select {
    margin-top: 10px;
    background-color: rgba(239, 242, 231, 0.8);
    color: #707070;
    height: 55px;
    font-size: 16px;
    font-style: italic;
  }
  .wrapper {
    padding: 0 20px;
  }
  .wrapper #openingPage,
  .wrapper #connexionPage,
  .wrapper .tab-content .tab-pane {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .wrapper header {
    padding-left: 0;
    margin: 0;
  }
  .wrapper header h1 {
    font-size: 28px;
    line-height: 38px;
    margin: 0;
  }
  .wrapper header h2 {
    font-size: 17px;
    line-height: 26px;
    margin: 20px 0 0;
    margin-bottom: 10px !important;
  }
  .wrapper main {
    padding: 20px 0 0;
    margin: 0;
  }
  .wrapper main figure {
    max-width: 140px;
    margin: 0;
  }
  .wrapper main figure figcaption {
    font-size: 14px;
    line-height: 21px;
  }
  .wrapper main .input-group {
    height: 55px;
    max-width: 100%;
  }
  .wrapper main .input-group input {
    font-size: 18px;
  }
  .wrapper main .ref .title:after {
    display: none;
  }
  .wrapper main .incomeSource .btn-group-toggle .btn {
    width: 100%;
  }
  .wrapper main .incomeSource .btn-group {
    display: block;
  }
  .wrapper main .btn-group-toggle.loanTypes .btn ul {
    font-size: 20px;
    line-height: 30px;
  }
  .wrapper main .btn-group-toggle.loanTypes .btn p {
    font-size: 16px;
    line-height: 26px;
  }
  .wrapper footer {
    position: absolute !important;
    margin: 0;
    left: 0;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 15px;
  }
  .wrapper footer .btn {
    margin: 0;
  }
  .wrapper footer .btn.btn-outline {
    border: none;
    padding: 15px 0;
  }
  .wrapper footer .btn.btn-outline .text {
    display: none;
  }
  .wrapper footer .lock {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px;
  }
  .wrapper footer .lock .btn {
    border: none;
    padding: 0;
    margin: 0;
    color: #707070;
    line-height: 10px;
    font-size: 16px;
    font-weight: bold;
    width: auto !important;
  }
  .wrapper #openingPage header h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }
  .wrapper #openingPage main {
    padding-top: 20px;
    text-align: center;
  }
  .wrapper #openingPage footer .btn {
    float: none !important;
    width: 100%;
  }
  .wrapper #connexionPage header {
    text-align: left;
  }
  .wrapper #connexionPage header h1 {
    font-size: 40px;
    line-height: 50px;
    margin: 0;
  }
  .wrapper #connexionPage main {
    text-align: left;
    padding: 20px 0 0;
  }
  .wrapper #connexionPage main .connexion_btns {
    margin: 0 0 10px;
  }
  .wrapper #connexionPage main .connexion_btns #facebook-connect {
    margin-bottom: 10px;
  }
  .wrapper #connexionPage main .connexion_btns #facebook-connect,
  .wrapper #connexionPage main .connexion_btns #google-connect {
    width: 100%;
    font-size: 20px;
  }
  .wrapper #connexionPage main .input-group {
    max-width: 100%;
  }
  .wrapper #connexionPage footer {
    text-align: left;
  }
  .wrapper #step2 .form-group label span {
    display: none;
  }
  .wrapper #step6 .btn-group {
    display: block;
  }
  .wrapper #step6 .btn-group .col-sm-6:first-child {
    margin-bottom: 20px;
  }
  .loading .content {
    margin-left: 0;
    left: 0;
    margin-top: -120px;
    width: 100%;
  }
  .loading .content span {
    color: #A1C138;
    font-size: 60px;
  }
  .loading .content p {
    color: #fff;
    font-size: 22px;
  }
}
